body{
    margin: 0px;
}

header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    height: 180px;
    position: relative;
}

.logo{
    height: 90px;
    position: absolute;
    left: 20px;
    top: 50%;
}