body{
    margin: 0px;
}

header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    height: 180px;
    position: relative;
}

.logo{
    height: 90px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

main{
    margin: 10px;
    
}

h1{
    font-size: 75px;
    margin: 0px;
}

.credits-container{
    color: grey;
    font-size: 25px;
    font-weight: bold;
}

.author{
    text-decoration: none;
    color: #4ea0ff;
}

.date-container{
    font-weight: bold;
    font-size: 20px;
    color: grey;
}



figure{
    margin-left: 0px;
}

.caption{
    margin: 0px;
}

.tim-img{
    height: 600px;
    width: 49%;
}

#article-main{
    font-size: 20px;

}

.highlighted{
    background-color: yellow;
}

ul{
    padding: 0px;
    list-style: inside;
    margin: 30px 0px;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}


thead{
    color: white;
    background-color: #20a9e5;

}

.first-part{
    width: 25%;
}

.odd-rows{
    background-color: #b1e5f2;
}

footer{
    margin: 10px;
}

h2{
    color: grey;
    
}

.suggests-container{
    font-size: 30px;
}

.computer-image{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 200px;
}

.graph-image{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    height: 200px;
}

.suggests-title{
    padding: 10px;
    color: white;
    font-weight: 800;
}